body {
  font-family: sans-serif;
}

button, input {
  padding: 7px 12px;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0 none;
  transition: background-color 0.2s;
  color: #444;
}
button{
  cursor: pointer;
}

button:hover, input:focus {
  border-color: #bbb;
  background: #eee;
}

hr {
  background: #ccc;
  height: 1px;
  border: 0 none;
}

